<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="jumbotron">
<h1> Resume Parser</h1>
</div>
<div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <a href={{ url_for('home') }}>
              <button class="btn btn-success" style="margin-bottom: 10px; border-radius: 0;">Upload More</button>
            </a>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-6">
            <a href={{ url_for('view_all') }}>
              <button class="btn btn-success" style="margin-bottom: 10px; border-radius: 0;">View all Resume</button>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
          <table class="table table-bordered table-striped table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Resume File</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <!-- <th>Competencies</th>
                <th>Measurable Results</th>
                <th>Presentation</th> -->
                <th>CGPA</th>
                <th>Skills</th>
                <!-- <th>Experience</th> -->
              </tr>
            </thead>
            <tbody>
            {% for i in range(email|length) %}
              <tr>
                <th>{{i+1}}</th>
                <th>{{resume_name[i]}}</th>
                <th>{{name[i]}}</th>
                <th>{{email[i]}}</th>
                <th>{{mobile[i]}}</th>
                <!-- <th>Competencies</th>
                <th>Measurable Results</th>
                <th>Presentation</th> -->
                <th>{{cgpa[i]}}</th>
                <th>
                  {% for j in skills[i] %}
                  {{j}},
                  {% endfor %}
                </th>
                <!-- <th>Experience</th> -->
              </tr>
              {% endfor %}
              
          	</tbody>
            </table>
          </div>
        </div>
</div>
</body>
</html>